<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Email sender gui</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

	<h1>Email Sender GUI</h1>

	<form method="post" action="/send">
		<div>
			<label for="subject">Subject:</label>
			<input type="text" name="subject" placeholder="subject line">
		</div>
		<div>
			<label for="recipients">Recipients:</label>
			<input type="text" name="recipients" placeholder="">
		</div>

		<div>
			<label for="recipients">Html:</label>
			<input type="text" name="recipients" placeholder="">
		</div>

		<div>
			<label for="">Images:</label>
			<input type="text" name="recipients" placeholder="">
		</div>
	</form>
  	<script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
</body>
</html>